body {
    background-color: #fff;
    color: #000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 1em;
}

#logo {
    width: 350px;
    height: auto;
    display: block;
    margin: auto;
}

h2 {
    color: red;
    font-weight: bold;
}

section {
    text-align: center;
    padding: 2em;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.marquee img {
    width: 250px; /* Adjust the width of the images as needed */
    height: auto; /* Adjust the height of the images as needed */
    margin-right: 10px; /* Adjust the spacing between images as needed */
    display: inline-block;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 0s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
