body {
    background-color: #fff;
    color: #000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 1em;
}

#logo {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

h2 {
    color: red;
    font-weight: bold;
}

section {
    text-align: center;
    padding: 2em;
}

.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.image-line {
    text-align: center;
    margin: 0px; /* Adjust margin as needed */
}

.image-line img {
    width: 250px; 
    height: auto;
    margin: 0 5px;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
